#djimg {
	border-radius: 100%;
	height: 223px;
	width: 202px;
}


/*	
	
	.headline {
		background-image: url('/assets/aboutus.jpg');
		height: 35vh;
		background-position: center;
		background-size: cover;
		display: flex;
		display: -webkit-flex;
		display: -ms-flexbox;
		align-items: center;
		-webkit-align-items: center;
		justify-content: center;
		-webkit-justify-content: center;
		color: white;
	}*/

#previewBox {
	width: 500px;
	height: 500px;
	background-size: contain;
	background-repeat: no-repeat;
}

#box {
	width: 270px;
	height: 205px;
	box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, .45);
	margin: 3% 0px 5% 36px;
	background-size: cover;
	/* border-radius: 5px; */
	/* overflow: hidden; */
	/* border-radius: 20%; */
	float: left;
	margin-bottom: 10px;
}
/*#box {
	border: 3px solid yellow;
	color: grey;
	width: 270px;
	height: 405px;
	float: left;
	margin: 20px;
	border-radius: 8px;
	position: relative;
	
}*/

.dj-section {
width: 100%;
background-image: url('./assets/background4.jpg');
background-size: cover;
background-repeat: no-repeat;
}

.dj-section-title {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.dj-title {
	color: white;
}

.dj-bio {
	font-size: 12px;
}

.dj-box {
	height: 240px;
	width: 240px;
	box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, .45);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.dj-box-overlay {
	height: 240px;
	width: 240px;
	padding: 10px;
	background: rgba(0, 0, 0, .75);
	text-align: center;
	opacity: 0;
	font-family: Helvetica;
	font-weight: 900;
	color: rgba(255, 255, 255, .85);
	font-size: 96px;
}

.dj-box:hover .dj-box-overlay {
	opacity: 1;
}

#overlay {
	background: rgba(0, 0, 0, .75);
	text-align: center;
	padding: 45px 0 84px 0;
	opacity: 0;
	width: 270px;
	height: 205px;
}

#box:hover #overlay {
	opacity: 1;
}

#plus {
	font-family: Helvetica;
	font-weight: 900;
	color: rgba(255, 255, 255, .85);
	font-size: 96px;
}

#cform {
	/*border: 2px solid blue;*/
	clear: both;
	position: relative;
	top: 26px;
	color: white;
}
/*logomain maain html*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/* STRUCTURE */

#pagewrap {
	padding: 5px;
	width: 960px;
	margin: 20px auto;
}

#content {
	width: 290px;
	float: left;
	padding: 5px 15px;
}

#middle {
	width: 294px;
	/* Account for margins + border values */
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
}

#sidebar {
	width: 270px;
	padding: 5px 15px;
	float: left;
}
	/************************************************************************************

	border-radius: 100%;
	height: 223px;
	width: 202px;
}

.headline {
	background-image: url('/assets/aboutus.jpg');
	height: 35vh;
	background-position: center;
	background-size: cover;
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
	color: white;
}

#box {
	width: 184px;
	height: 179px;
	box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, .45);
	margin: 2% auto 2% auto;
	background-size: cover;
	/* border-radius: 5px; */
	/*overflow: hidden;*/
	/*margin-left: 53px;*/
	/* border-radius: 20%; */
	/*float: left;*/
/*}*/


.podcast-box {
    width: 350px;
	/*margin-left: 27px;*/
	margin-bottom: 20px;
	border-radius: 5%;
	height: 250px;
	box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, .45);
	background-size: cover;
	overflow: hidden;
	float: left;
 }

 .podcast-overlay {
	background: rgba(0, 0, 0, .75);
	width: 350px;
	border-radius: 5%;
	height: 250px;
	text-align: center;
	padding: 45px 0 84px 0;
	opacity: 0;
	color: white;
}

.podcast-box:hover .podcast-overlay {
	opacity: 1;
}


/*#podcast-container {
=======
/*#bio {
	font-size: 12px;
}

#podcast-container {
>>>>>>> c544cf6f3569b923ee7763166b58756934ff9bf8
	text-align: center;
	z-index: 0;
	color: white;
}*/

#overlay {
	background: rgba(0, 0, 0, .75);
	text-align: center;
	padding: 45px 0 84px 0;
	opacity: 0;
}

#box:hover #overlay {
	opacity: 1;
}


#plus {
	font-family: Helvetica;
	font-weight: 900;
	color: rgba(255, 255, 255, .85);
	font-size: 96px;
}

#cform {
	/*border: 2px solid blue;*/
	clear: both;
	position: relative;
	top: 26px;
	color: white;
}


/*logomain maain html*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* STRUCTURE */

#pagewrap {
	padding: 5px;
	width: 960px;
	margin: 20px auto;
}

#content {
	width: 290px;
	float: left;
	padding: 5px 15px;
}

#middle {
	width: 294px;
	/* Account for margins + border values */
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
}

#sidebar {
	width: 270px;
	padding: 5px 15px;
	float: left;
}


/************************************************************************************

MEDIA QUERIES
*************************************************************************************/
	/* for 980px or less */
	/*@media screen and (max-width: 980px) {
	
	#pagewrap {
		width: 94%;
	}
	#content {
		width: 41%;
		padding: 1% 4%;
	}
	#middle {
		width: 41%;
		padding: 1% 4%;
		margin: 0px 0px 5px 5px;
		float: right;
	}
	
	#sidebar {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}

	header, footer {
		padding: 1% 4%;
	}*/
	/* for 700px or less */
	/*@media screen and (max-width: 600px) {

	#content {
		width: auto;
		float: none;
	}
	
	#middle {
		width: auto;
		float: none;
		margin-left: 0px;
	}
	
	#sidebar {
		width: auto;
		float: none;
	}

}*/
	/* for 480px or less */
	/*@media screen and (max-width: 480px) {

	header {
		height: auto;
	}
	h1 {
		font-size: 2em;
	}
	#sidebar {
		display: none;
	}

}*/
	/*#content {
	background: #f8f8f8;
}
#sidebar {
	background: #f0efef;
}
header, #content, #middle, #sidebar {
	margin-bottom: 5px;
}

#pagewrap, header, #content, #middle, #sidebar, footer {
	border: solid 1px #ccc;
}*/