.row {
    border: slategrey 1px solid;
    overflow: hidden;
    width: 100%;
}

.card-block {
    width: 25%;
    height: 25%;
    border: slategray solid 1px;
    float: left;
    margin: 5px;
}

.event-time {
    font-size: 30px;
}

.event-title {
    font-size: 18px;
}

.event-location {
    font-size: 15px;
}
