.row {
    /*border: slategrey 1px solid;*/
    overflow: hidden;
    width: 100%;
}

.date {
    width: 200px;
    min-height: 200px;
    max-height: 200px;
    border: black solid 2px;
    color: black;
    float: left;
    margin: 0.5px;
    clear: right;
    background-color: rgba(95, 111, 119, 0.8);
    overflow: scroll;
}

.date-time {
    font-size: 25px;
    margin-bottom: 20px;
}

.date-title {
    font-size: 14px;
    margin-top: 5px;
    color: white;
}

.date-text {
    font-size: 10px;
    margin-bottom: 10px;
}

#map {
    width: 40%;
    height: 375px;
    background-color: grey;
    border: black solid 1px;
    margin: auto;
}

#cal {
    margin-left: 9%;
    margin-top: 50px;
}

.date-information {
    text-align: center; 
    vertical-align: middle;
}

.date-scroll {
    overflow: scroll;
}

.calendar-header {
    text-align: center;
    color: white;
    font-family: sans-serif;
    margin-top: 100px;
    font-size: 30px;
}

.content {
    color: black;
}

.week-date-time {
    color: black;
    font-size: 24px;
    border-bottom: 1px solid black;
}

.week-date-title {
    color: white;
    font-size: 16px;
    margin-top: 20px;
}

.week-date-text {
    color: black;
    font-size: 12px;
}

.map-list {
    float: left;
    margin-left: 200px;
    margin-top: 100px;
}

.map-container {
    text-align: center;
    margin-top: 80px;
}

.map {
    margin-top: 10px;
    border-top: 1px white solid;
}

.weekDate {
    margin-bottom: 40px;
}

@media screen and (max-height)