.row {
    border: slategrey 1px solid;
    overflow: hidden;
    width: 100%;
}

.card-block {
    width: 30%;
    min-height: 275px;
    border: slategray solid 1px;
    color: white;
    float: left;
    margin: 5px;
    clear: right;
}

.date-time {
    font-size: 40px;
}

.date-title {
    font-size: 18px;
    margin-top: 30px;
}

.date-location {
    font-size: 15px;
    margin-bottom: 15px;
}

#map {
    width: 50%;
    height: 400px;
    background-color: grey;
    border: black solid 1px;
    margin: auto;
}

.map-container {
    text-align: center;
    margin: 20px auto;
    clear: both;
}

#cal {
    margin-left: 7%;
    margin-top: 50px;
}

.date-information {
    text-align: center; 
    vertical-align: middle;

}

.calendar-header {
    text-align: center;
    color: white;
    font-family: sans-serif;
}