.row {
    /*border: slategrey 1px solid;*/
    overflow: hidden;
    width: 100%;
}

.date {
    width: 200px;
    min-height: 200px;
    max-height: 200px;
    border: slategray solid 1px;
    color: black;
    float: left;
    margin: 0.5px;
    clear: right;
    background-color: rgba(95, 111, 119, 0.8);
    overflow: scroll;
}

.date-time {
    font-size: 25px;
    margin-bottom: 20px;
}

.date-title {
    font-size: 14px;
    margin-top: 5px;
    color: white;
}

.date-text {
    font-size: 10px;
    margin-bottom: 10px;
}

#map {
    width: 50%;
    height: 400px;
    background-color: grey;
    border: black solid 1px;
    margin: auto;
}

.map-container {
    text-align: center;
    margin: 20px auto;
    clear: both;
}

#cal {
    margin-left: 10%;
    margin-top: 50px;
}

.date-information {
    text-align: center; 
    vertical-align: middle;
}

.date-scroll {
    overflow: scroll;
}

.calendar-header {
    text-align: center;
    color: white;
    font-family: sans-serif;
    margin-top: 0px;
    font-size: 30px;
}