/*/========================home.html======================/*/


/*********************************************************/

.middlesection {
  /*margin-top: 100px;*/
  width: 100%;
  /*background-image: url(../assets/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;*/
  z-index: 0;
  /*border: 1px white solid;*/
}


/*//===============event calender Container ==============//*/

#eventCalendarContainer {
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 40px;
  border-radius: 10px;
  height: 600px;
  width: 280px;
  background-color: rgba(128, 128, 128, 0.7);
  /*float: left;*/
  /*margin-left: 25px;*/
  padding: 0px;
  overflow: scroll;
}

.iframe-side-calendar {
  margin: 0px;
  padding: 0px;
  height: 600px;
  border-radius: 10px;
}


/*//=============================================//*/


/*//========== home page featured event Container=====================//*/

#featuredEventContainer {
  height: 600px;
  border-radius: 10px;
  margin-top: 10px;
  padding: 0px;
  /*width: 600px;*/
  background-color: rgba(128, 128, 128, 0.5);
  /*float: left;*/
  /*margin: 25px;*/
}


/*//-------carousel-------//*/

#eventSlides_control>div {
  height: 200px;
}

.eventImg {
  margin: 0px;
  width: auto;
  height: 100%;
}

#eventSlides_control {
  position: absolute;
  width: 400px;
  left: 50%;
  top: 20px;
  margin-left: -200px;
}

.featuredEventBackground {
  /*position: absolute;*/
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}


/*//=======   home page ads Container  ========//*/

#adContainer {
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 10px;
  height: 600px;
  padding: 0px;
  width: 280px;
  background-color: rgba(128, 128, 128, 0.7);
  /*float: left;*/
  /*margin-left: 25px;*/
}


/*//-------carousel-------//*/

.adImg {
  margin: 0px;
  width: 100%;
  height: auto;
}

#ad1 {
  margin-top: 10px;
}

#ad2 {
  margin-top: 10px;
}

.adSlides {
  margin-top: 10px;
  margin-bottom: 10px;
}

.featuredAdBackground {
  /*position: absolute;*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  max-width: 100%;
  border-radius: 10px;
}


/*//-----------------------------------------------------//*/


/*//================ about section ====================//*/

.aboutBackground {
  background-image: url('./assets/Logoabout.png');
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  color: black;
  padding: 10px;
}

#abouttext {
  width: 100%;
  font-size: 11px;
  text-align: center;
  padding: 5px;
}

#wearesubstrate {
  font-weight: bolder;
  margin-left: 9em;
}

.djsection {
  background-image: url('./assets/background4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  padding-bottom: 12px;
  z-index: 0;
}
.block {
  background: white;
  height: 130px;
  width: 140px;
  display: block;
  border: 3px solid black;
  float: left;
}

.block1 {
  background: WHITE;
  height: 130px;
  width: 432px;
  display: block;
  border: 3px solid black;
  /*float: left;*/
}



/*//-----------------------------------------------------//*/


/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/


/*/========================podcast/follow us  section======================/*/

.podbackground {
  background-image: url('./assets/aboutus.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

.podcasts {
  position: relative;
  color: white;
  float: left;
}

#podcasttext {
  color: white;
}

.followus {
  background-image: url('/assets/background7.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  height: 200px;
  background-color: whitesmoke;
  color: black;
  text-align: center;
}

#djbox {
  text-align: center;
  z-index: 0;
}

.podcasts {
  position: relative;
  color: white;
  float: left;
}

#podcasttext {
  color: white;
}

.followus {
  background-image: url('/assets/background7.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  height: 200px;
  background-color: whitesmoke;
  color: black;
  text-align: center;
}

#djbox {
  text-align: center;
}


/*/========================calendar.html======================/*/


/*************************************************************/

.eventSummary {
  color: white;
}


/*/========================contact.html======================/*/


/*************************************************************/

#contact {
  padding: 10px 0 10px;
}

.contact-text {
  margin: 45px auto;
}

.mail-message-area {
  width: 100%;
  padding: 0 15px;
}

.mail-message {
  width: 100%;
  background: rgba(255, 255, 255, 0.8) !important;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
  margin: 0 auto;
  border-radius: 0;
}

.not-visible-message {
  height: 0px;
  opacity: 0;
}

.visible-message {
  height: auto;
  opacity: 1;
  margin: 25px auto 0;
}


/* Input Styles */

.form {
  width: 100%;
  padding: 15px;
  background: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, 0.075);
  margin-bottom: 25px;
  color: #727272 !important;
  font-size: 13px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.form:hover {
  border: 1px solid #8BC3A3;
}

.form:focus {
  color: white;
  outline: none;
  border: 1px solid #8BC3A3;
}

.textarea {
  height: 200px;
  max-height: 200px;
  max-width: 100%;
}

#message {
  border: 2px solid red;
  height: 126px;
}


/* Generic Button Styles */

.button {
  padding: 8px 12px;
  background: #0A5175;
  display: block;
  width: 120px;
  margin: 10px 0 0px 0;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  font-size: 0.8em;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
}

.button:hover {
  background: #8BC3A3;
  color: white;
}


/* Send Button Styles */

.form-btn {
  width: 180px;
  display: block;
  height: auto;
  padding: 15px;
  color: #fff;
  background: #8BC3A3;
  border: none;
  border-radius: 3px;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin: auto;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
}

.form-btn:hover {
  background: #111;
  color: white;
  border: none;
}

.form-btn:active {
  opacity: 0.9;
}

center {
  margin-top: 330px;
}

input {
  position: relative;
  z-index: 9999;
}


/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/


/*userlist.html*/

#usersList {
  float: left;
  padding: 20px;
  color: white;
}


/*end userlist.html*/


/*updateuser.html*/

#updateUser {
  color: white;
}


/*end updateuser.html*/


/*admin.html*/

.adminPosts {
  color: white;
}

button {
  background-color: black;
  color: white;
}

.list-group-item {
  background-color: black;
  color: white;
}


/*end admin.html*/

body {
  font-family: LuloCleanOne;
}

#usersList {
  border: 1px solid whitesmoke;
  /*padding: 5px;*/
}

input {
  color: black;
}

select {
  color: black;
}

#editMissionStatementContainer {
  margin-top: 80px;
}