/*#djimg {
    border-radius: 100%;
    height: 223px;
    width: 202px;
}*/

/*.headline {
    background-image: url('/assets/aboutus.jpg');
    height: 35vh;
    background-position: center;
    background-size: cover;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    color: white;
}*/

/*#box {
    width: 270px;
    height: 200px;
    box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, .45);
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    margin: 5% auto 0 auto;
    background-size: cover;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 53px;
}

#overlay {
    background: rgba(0, 0, 0, .75);
    text-align: center;
    height: 200px;
    width: 270px;
    padding: 45px 0 66px 0;
    opacity: 0;
}

#box:hover #overlay {
    opacity: 1;
}

#plus {
    font-family: Helvetica;
    font-weight: 900;
    color: rgba(255, 255, 255, .85);
    font-size: 96px;
}*/

#cform{
  
    /*border: 2px solid blue;*/
    clear: both;
    position: relative;
    top: 26px;
    color: white;
}

/*logomain maain html*/
#logo{
    border: 2px solid pink;
    background-image: url('/assets/logo.png');
    height: 50px;
    width: 50px;
    background-size: cover;
    background-position-x: center;

}

#centerdiv{
    border: 2px solid red;
    height: 600px;
    width: 800px;

}
#maindiv{
    position: relative;
    float: left;
}