/*/========================   MAGAZINE WIDE    ======================/*/


/*************************************************************/

.magPageTitleHeader1{
    margin-top: 50px;
    margin-left: 25px;
    z-index: 0;
    color: white;
}

.magPageSubtitle {
    margin-left: 25px;
    color: white;
}
.magByLineHeader{
    color: white;
    margin-left: 25px;
}

.magBackground {
    background: url(../assets/background5.jpg);
    background-size: cover;
    min-height: 47.2em;
    background-repeat: repeat-y;
 margin-bottom: 6em;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
}

#loginForm {
    margin-top: 25px;
    padding: 25px;
}


/*.subNavBar{
    margin-top: 80px;
}*/
input{
    z-index: 0;
}


/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/





/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/


/*/======================== magazine.html ======================/*/

/*************************************************************/
.articleTitleImage{
    width: auto;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

#previewArticleImage {
    width: auto;
    height: 400px;
    background-repeat: no-repeat;
    margin-left: 50px;
}
.ByLine{
    padding: 20px;
    margin:0px;
}
.magTitleImageFrame{
    padding: 0px;
}
/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/


/*************************************************************/


/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/



/*/======================== article.html ======================/*/
#ArticleContentBox{
    margin-top: 10px;
}
#postDiv{
    background: rgba(204,204,204,0.4);
    font-family: futura;
    /*font-size: 16px;*/
    text-align: left;
    color: black;
    border: transparent;
}
#singleArticleTitleBox{
    background: rgba(204,204,204,0.4);
    border: transparent;
}
/*/======================== compose.html ======================/*/
/*************************************************************/


/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/

/*************************************************************/


/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/


/*/======================== userprofile.html ======================/*/


/*************************************************************/

#composeButton {
    margin-left: 50px;
}


/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/


/*/======================== userprofile.html ======================/*/


/*************************************************************/


/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/


/*/======================== admin.html======================/*/


/*************************************************************/


/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/
