/*/========================   MAGAZINE WIDE    ======================/*/


/*************************************************************/

.magPageTitleHeader1{
    margin-top: 50px;
    margin-left: 25px;
    z-index: 0;
    color: white;
}

.magPageSubtitle {
    margin-left: 25px;
    color: white;
}
.magByLineHeader{
    color: white;
    margin-left: 25px;
}

.magBackground {
    background: url(../assets/background5.jpg);
    background-size: cover;
        /*min-height: 47.2em;*/
        /*height: auto;*/
    min-height: 100%;
    background-repeat: repeat-y;
    margin-bottom: 6em;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
}
.adminMagBackground{
    background: url(../assets/background5.jpg);
    background-size: cover;
    text-align: center;
    /*min-height: 100%;*/
    background-repeat: repeat-y;
    height: 3000px;
    

}

#loginForm {
    margin-top: 25px;
    padding: 25px;
}

.page-header {
    border: none;
}
/*.subNavBar{
    margin-top: 80px;
}*/
input{
    z-index: 0;
}


/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/





/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/


/*/======================== magazine.html ======================/*/

/*************************************************************/

#post-container{
    align-content: center;
}
.articleTitleImage{
    width: auto;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10%;
    margin-left: 10%;
    background-color: transparent;
    border-radius: 10px;
    /*border:1px solid white;*/
}
a.link{
    background: transparent;
    align-content: center;
}
.list-group{
    align-content: center;
}
#previewArticleImage {
    width: auto;
    height: 400px;
    background-repeat: no-repeat;
    margin-left: 200px;
    
}

#previewPostDiv{
    background: rgba(204,204,204,0.4);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*font-size: 16px;*/
    text-align: left;
    color: black;
    border: transparent;
}
.ByLine{
    padding: 20px;
    margin:0px;
}
.magTitleImageFrame{
    padding: 0px;
}
/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/


/*************************************************************/


/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/



/*/======================== article.html ======================/*/
#ArticleContentBox{
    margin-top: 10px;
}
#postDiv{
    background: rgba(204,204,204,0.4);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*font-size: 16px;*/
    text-align: left;
    color: black;
    border: transparent;
}
#singleArticleTitleBox{
    background: rgba(204,204,204,0.4);
    border: transparent;
}
#postContainer{
    height: auto;
    min-height: 100%;
}
/*/======================== compose.html ======================/*/
/*************************************************************/


/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/

/*************************************************************/


/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/


/*/======================== userprofile.html ======================/*/


/*************************************************************/

#composeButton {
    margin-left: 50px;
}


/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/


/*/======================== userprofile.html ======================/*/


/*************************************************************/


/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/


/*/======================== admin.html======================/*/


/*************************************************************/


/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/
