

/*/========================   MAGAZINE WIDE    ======================/*/
/*************************************************************/
.magPageTitleHeader1{
    margin-top: 25px;
    margin-left: 25px;
    z-index: 0;
}
.magPageSubtitle{
    margin-left: 25px;
}

.magBackground{
    background: url('../assets/background5.jpg');
    background-size: cover;
    min-height: 1200px;
    background-repeat: repeat-y;
    margin-top: 40px;
    padding: 0px;

}
#loginForm{
    margin-top: 25px;
    padding: 25px;
}

/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/






/*/======================== magazine.html ======================/*/
/*************************************************************/


/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/


/*/======================== article.html ======================/*/
/*************************************************************/



/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/









/*/======================== userprofile.html ======================/*/
/*************************************************************/
        #composeButton{
        margin-left: 50px;
        }


/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/










/*/======================== userprofile.html ======================/*/
/*************************************************************/



/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/








/*/======================== admin.html======================/*/
/*************************************************************/



/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/
