/*/========================   MAGAZINE WIDE    ======================/*/


/*************************************************************/

.magPageTitleHeader1 {
    margin-top: 25px;
    margin-left: 25px;
    z-index: 0;
}

.magPageSubtitle {
    margin-left: 25px;
        color: white;
}

.magBackground {
    background: url(../assets/background5.jpg);
    background-size: cover;
    min-height: 47.2em;
    background-repeat: repeat-y;
    margin-top: 58px;
    /* padding: 41px; */
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
}

#loginForm {
    margin-top: 25px;
    padding: 25px;
}


/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/


/*/======================== magazine.html ======================/*/


/*************************************************************/


/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/


/*/======================== article.html ======================/*/


/*************************************************************/


/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/


/*/======================== userprofile.html ======================/*/


/*************************************************************/

#composeButton {
    margin-left: 50px;
}


/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/


/*/======================== userprofile.html ======================/*/


/*************************************************************/


/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/


/*/======================== admin.html======================/*/


/*************************************************************/


/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/