

/*/========================   MAGAZINE WIDE    ======================/*/
/*************************************************************/
.magPageTitleHeader1{
    margin-left: 25px;
}
.magPageSubtitle{
    margin-left: 25px;
}


/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/






/*/======================== magazine.html ======================/*/
/*************************************************************/



/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/


/*/======================== article.html ======================/*/
/*************************************************************/



/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/









/*/======================== userprofile.html ======================/*/
/*************************************************************/
        #composeButton{
        margin-left: 50px;
        }


/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/










/*/======================== userprofile.html ======================/*/
/*************************************************************/



/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/








/*/======================== admin.html======================/*/
/*************************************************************/



/*//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//*/
