/*this is modal css for contact*/
.modal-body {
margin-top: -30em;
    background-color: lightgray;
}
.modal-dialog {
    margin: 30px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    background-color: gray;
}
#contactemail {
  width: 80%;
  text-align: center;
}

#contactsubject {
  width: 60%
}

#contactmessage {
  width: 80%;
  height: 100px;
}


/* .modal-transparent */

.modal-transparent {
  background: transparent;
}
#modal-transparent{
  top: 13em;
}

.modal-transparent .modal-content {
  background: transparent;
}

.modal-backdrop.modal-backdrop-transparent {
  background: #ffffff;
}

.modal-backdrop.modal-backdrop-transparent.in {
  opacity: .9;
  filter: alpha(opacity=90);
}






