/* *********************************
           Variables
  ********************************** */


/* *********************************
   Some Style Overrides on Bootstrap
  ********************************** */

.topnavbarlogo {
  /*background-image: url('./assets/logo.png');
      background-repeat: no-repeat;
      background-size: contain;*/
}

.navbar-inverse {
  background: rgba(62, 195, 246, 0);
  border-bottom: none;
}

.navbar-inverse .navbar-toggle {
  border: 1px solid #333;
  border-color: rgba(255, 255, 255, 0.7);
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: transparent;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    background: black;
    position: static;
    text-align: center;
    font-size: 2em;
    margin-top: 2em;
  }
}

.navbar-inverse .navbar-nav>li>a {
  color: gold;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  /*color: #22F;*/
}


/* *********************************
           Toolbar Logo
  ********************************** */

.small-logo-container {
  padding-top: 50px;
  height: 29px;
  overflow: hidden;
  position: absolute;
}

.small-logo {
  color: white;
  font-size: 22px;
  padding-bottom: 2px;
}


/* *********************************
           Big Logo
  ********************************** */

.big-logo-row {
  background: #252525;
}

.big-logo-row .big-logo-container {
  /*padding-top: 50px;*/
}

.big-logo-row h1 {
  font-size: 1em;
  margin: 0;
  padding: 0 0 15px 0;
}

@media (min-width: 400px) {
  .big-logo-row h1 {
    font-size: 4.5em;
  }
}

@media (min-width: 440px) {
  .big-logo-row h1 {
    font-size: 5.5em;
  }
}

@media (min-width: 500px) {
  .big-logo-row h1 {
    font-size: 6.5em;
  }
}

@media (min-width: 630px) {
  .big-logo-row h1 {
    font-size: 7.5em;
  }
}

@media (min-width: 768px) {
  .big-logo-row h1 {
    font-size: 9em;
    padding-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .big-logo-row h1 {
    font-size: 12em;
  }
}

@media (min-width: 768px) {
  .navbar-right {
    float: right!important;
    margin-right: -2em;
    /* font-weight: bold; */
    font-size: 1em;
  }
}


/*//-----------contact page in home html--------//*/

.modal-body {
  position: relative;
  padding: 15px;
  margin-top: -27em;
  background-color: lightgray;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    background-color: gray;
}
#contactemail {
  width: 80%;
  text-align: center;
}

#contactsubject {
  width: 60%
}

#contactmessage {
  width: 80%;
  height: 100px;
}


/* .modal-transparent */

.modal-transparent {
  background: transparent;
}

.modal-transparent .modal-content {
  background: transparent;
}

.modal-backdrop.modal-backdrop-transparent {
  background: #ffffff;
}

.modal-backdrop.modal-backdrop-transparent.in {
  opacity: .9;
  filter: alpha(opacity=90);
}


/* .modal-fullscreen */

.modal-fullscreen {
  background: transparent;
}

.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}

.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}


/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
    width: 1170px;
  }
}


/* centering styles for jsbin */


/* html,
body {
  width:100%;
  height:100%;
}
html {
  display:table;
}
body {
  display:table-cell;
  vertical-align:middle;
}
body > .btn {
  display: block;
  margin: 0 auto;
} */