/*this is modal css for contact*/

.dropdown,
.dropup {
  position: relative;
  text-align: right;
  cursor: pointer;
}

.dropdown-menu-right {
  background-color: black;
}

.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #e8e8e8;
  white-space: nowrap;
  line-height: 2;
}

.modal-body {
  margin-top: -30em;
  background-color: lightgray;
}

.modal-dialog {
  margin: 30px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
  background-color: gray;
}

#contactemail {
  width: 80%;
  text-align: center;
}

#contactsubject {
  width: 60%
}

#contactmessage {
  width: 80%;
  height: 100px;
}


/* .modal-transparent */

.modal-transparent {
  background: transparent;
}

#modal-transparent {
  top: 13em;
  float: middle;
  margin-left: 25%;
}

.modal-transparent .modal-content {
  background: transparent;
}

.modal-backdrop.modal-backdrop-transparent {
  background: #ffffff;
}

.modal-backdrop.modal-backdrop-transparent.in {
  opacity: .9;
  filter: alpha(opacity=90);
}

@media screen and (min-width: 768px) {
  .carousel-indicators {
    bottom: 20px;
    z-index: 1;
  }
}

#container {
  /*background: #eee;*/
  text-align: center;
  float: left;
}

strong {
  font-size: 2em;
}

.myprofile {
  text-align: right;
}

.open>.dropdown-menu {
  margin-top: 40px;
  z-index: 999999;
  text-align: center;
}