/*.custom-drawer {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 190px;
  background-color: grey;
}

.custom-drawer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.custom-drawer ul li {
  width: 100%;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
}

.custom-drawer ul li a {
  text-decoration: none;
  color: inherit;
}*/

.app {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: right 0.2s linear;
  transition: right 0.2s linear;
}

.app .custom-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  background-color: #222222;
  text-align: right;
  /*z-index: 99999;*/
}

#navbarTopDiv{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 97px;
}
.mininavbar {
  position: absolute;
  top: 97px;
  left: 0;
  width: 100%;
  height: 33px;
 
}

#linkList{
 height: 33px;
}

.app .custom-navbar ul {
  /*list-style-type: none;*/
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}

.app .custom-navbar ul li {
  display: inline-block;
  height: 33px;
  line-height: 33px;
  vertical-align: middle;
  color: white;
  text-align: center;
}

.app .custom-navbar ul li a {
  display: block;
  padding: 0 10px;
  text-decoration: none;
  color: gold;
  font-size: 10px;
}

.app .custom-navbar .hamburger {
  /*display: none;*/
  position: absolute;
  top: 0;
  right: 0;
  /*width: 50px;*/
  /*height: 50px;*/
  color: white;
  font-size: 3em;
}

.app .site-content {
  margin-top: 130px;
  /*padding-top: 3em;*/
  height: 100%;
  /*overflow-x: hidden;*/
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.topbar {
  height: 100px;
  width: 116px;
  padding: 5px;
  z-index: 9991;
}

#navbarLogo{
  margin-top: 5px;
  margin-left: 15px;
  float: left;
  /*padding: 3px;*/
}

#radioPlayer{
  width: 320px;
  height: 95px;
  position: fixed;
  right: 0;
  margin-top: 4px;
  margin-right: 4px;
  /*border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;*/
  border-top: 1px solid rgba(240,240,240,0.8);
  border-right: 1px solid rgba(240,240,240,0.8);
  border-bottom: 1px solid rgba(240,240,240,0.8);
  border-left: 1px solid rgba(240,240,240,0.8);
 
  /*border-radius: 10px;
  
}
#tuner .bottom{
  display: none;
}
#homeLink{
  display: none;
}

@media screen and (max-width: 451px) {
  /*.app .custom-navbar ul {
    display: none;
  }*/
  #navbarLogo{
    display: none;
  }
  #radioPlayer{
    width: 100%;
    margin: 0px;
    border-radius: 0px;
  }
  #featuredEventContainer{
    display: none;
  }
  #eventCalendarContainer{
    display: none;
  }
  #adContainer{
    display: none;
  }
  #dj-podcast-backdrop{
    display: none;
  }
  .dj-section{
    display: none;
  }
  .podcast-section{
    display: none;
  }
  .breakerDiv{
    display: none;
  }
  .aboutBackground{
    margin-top: -50px;
  }
  .podcast-page-overlay{
    opacity:1;
  }
  #homeLink{
  display: inline;
  }
  .articleTitleImage{
    background: contain;
  }
}

@media screen and (max-width: 485px) {
  .app .custom-navbar{
    height: 200px;
  }
  .app .site-content{
    margin-top: 200px;
  }
}

@media screen and (min-width: 1221px) {
  .dropdown {
    display: none;
  }
}

body {
  background-image: url('./assets/greenbackgroundnologo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  background-position: center ;
  background-attachment: fixed;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1em;
}



.mininavbaradmin {
  top: 97px;
  text-align: center;
  font-size: 12px;
  position: fixed;
  z-index: 99999;
  background-color: black;
  width: 100%;
}

a:focus,
a:hover {
  color: gold;
  text-decoration: none;
}

ul li {
  display: inline-block;
}

/*ul li:not(:last-child):after {
  content: "|";
  color: lightgray;
  position: relative;
  top: -4em;
}*/

/*ol,
ul {
  margin-top: 8px;
  margin-bottom: 3px;
}*/

.dlist {
  float: left;
}

@media screen and (max-width: 1220px) {
 .followus {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 161px;
    color: black;
    text-align: center;
    padding: 2px;
    margin-bottom: 11em;
 }
}