.custom-drawer {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 190px;
  background-color: grey;
}

.custom-drawer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.custom-drawer ul li {
  width: 100%;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
}

.custom-drawer ul li a {
  text-decoration: none;
  color: inherit;
}

.app {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: right 0.2s linear;
  transition: right 0.2s linear;
}

.app .custom-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 97px;
  background-color: #202020;
  text-align: right;
  /*z-index: 99999;*/
}

.app .custom-navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.app .custom-navbar ul li {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  color: white;
}

.app .custom-navbar ul li a {
  display: block;
  padding: 0 10px;
  text-decoration: none;
  color: gold;
  font-size: 10px;
}

.app .custom-navbar .hamburger {
  /*display: none;*/
  position: absolute;
  top: 0;
  right: 0;
  /*width: 50px;*/
  /*height: 50px;*/
  color: white;
  font-size: 3em;
}

.app .site-content {
  margin-top: 97px;
  /*padding-top: 3em;*/
  height: 100%;
  /*overflow-x: hidden;*/
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.topbar {
  height: 100px;
  width: 116px;
  padding: 5px;
  z-index: 9991;
}

@media screen and (max-width: 1220px) {
  .app .custom-navbar ul {
    display: none;
  }
  .topbar {
    display: none;
  }
}

@media screen and (min-width: 1221px) {
  .dropdown {
    display: none;
  }
}

body {
  background-image: url('./assets/lighterBackgroundFlipped.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  background-position: center ;
  background-attachment: fixed;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1em;
}

.mininavbar {
  background-image: url(./assets/background3.jpg);
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 58px;
  /* text-align: center; */
  font-size: 12px;
  position: fixed;
  z-index: 99999;
  /* background-color: black; */
  width: 100%;
  right: 373px;
}

.mininavbaradmin {
  top: 97px;
  text-align: center;
  font-size: 12px;
  position: fixed;
  z-index: 99999;
  background-color: black;
  width: 100%;
}

a:focus,
a:hover {
  color: gold;
  text-decoration: none;
}

ul li {
  display: inline-block;
}

/*ul li:not(:last-child):after {
  content: "|";
  color: lightgray;
  position: relative;
  top: -4em;
}*/

ol,
ul {
  margin-top: 8px;
  margin-bottom: 3px;
}

.dlist {
  float: left;
}