
/*===================== parallax ====================*/

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 200px;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
          
          /*background-image: url('./assets/greenbackgroundnologo.jpg');*/
          /*background-image: url('http://wallpaperlayer.com/img/2015/7/cool-textured-backgrounds-6926-7206-hd-wallpapers.jpg');*/
          background-image: url('./assets/sonic-wave-459858_960_720.jpg');
          /*background-image: url('');*/
          
          background-repeat: repeat-y;
          background-size: cover;
          background-repeat: no-repeat;
  height: 1680px;
  width: 100%;
  margin-top: 200px
}
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
-----------------------------------------------------------*/

.app {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: right 0.2s linear;
  transition: right 0.2s linear;
}

.app .custom-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  /*background-color: #222222;*/
  background-color: black;
  text-align: right;
  /*z-index: 99999;*/
  z-index: 2;
}

#navbarTopDiv{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 97px;
}
.mininavbar {
  position: absolute;
  top: 97px;
  left: 0;
  width: 100%;
  height: 33px;
 
}

#linkList{
 height: 33px;
}

.app .custom-navbar ul {
  /*list-style-type: none;*/
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}

.app .custom-navbar ul li {
  display: inline-block;
  height: 33px;
  line-height: 33px;
  vertical-align: middle;
  color: white;
  text-align: center;
}

.app .custom-navbar ul li a {
  display: block;
  padding: 0 10px;
  text-decoration: none;
  color: gold;
  font-size: 10px;
}

.app .custom-navbar .hamburger {
  /*display: none;*/
  position: absolute;
  top: 0;
  right: 0;
  /*width: 50px;*/
  /*height: 50px;*/
  color: white;
  font-size: 3em;
}

.app .site-content {
  margin-top: 130px;
  /*padding-top: 3em;*/
  height: 100%;
  /*overflow-x: hidden;*/
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.topbar {
  height: 100px;
  width: 116px;
  padding: 5px;
  z-index: 9991;
}

#navbarLogo{
  margin-top: 5px;
  margin-left: 15px;
  float: left;
  /*padding: 3px;*/
}

#radioPlayer{
  width: 320px;
  height: 95px;
  position: fixed;
  right: 0;
  margin-top: 4px;
  margin-right: 4px;
  /*border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;*/
   border-top: 1px solid rgba(240,240,240,0.8);
  border-right: 1px solid rgba(240,240,240,0.8);
  border-bottom: 1px solid rgba(240,240,240,0.8);
  border-left: 1px solid rgba(240,240,240,0.8);
  
  
}
#tuner .bottom{
  display: none;
}
#homeLink{
  display: none;
}



body {
  /*background-image: url('./assets/greenbackgroundnologo.jpg');*/
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  background-position: center ;
  background-attachment: fixed;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1em;
}



.mininavbaradmin {
  top: 97px;
  text-align: center;
  font-size: 12px;
  position: fixed;
  z-index: 99999;
  background-color: black;
  width: 100%;
}

a:focus,
a:hover {
  color: gold;
  text-decoration: none;
}

ul li {
  display: inline-block;
}

/*ul li:not(:last-child):after {
  content: "|";
  color: lightgray;
  position: relative;
  top: -4em;
}*/

/*ol,
ul {
  margin-top: 8px;
  margin-bottom: 3px;
}*/

.dlist {
  float: left;
}


/*
===================== RESPONSIVE ===============*/

@media screen and (max-width: 1220px) {
 .followus {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 161px;
    color: black;
    text-align: center;
    padding: 2px;
    margin-bottom: 11em;
 
}

@media screen and (max-width: 1340px) {
  .parallax__layer--back{
    height: 1700px;
  }
}
@media screen and (max-width: 1199px) {
  .parallax__layer--back{
    height: 1850px;
  }
}
@media screen and (max-width: 991px) {
  .parallax__layer--back{
    height: 2000px;
  }
}
@media screen and (max-width: 855px) {
  /*.dropdown {
    display: none;
  }*/
  .parallax__layer--back{
    height: 2000px;
  }
}
@media screen and (max-width: 780px) {
  .parallax__layer--back{
    height: 2200px;
  }
}
@media screen and (max-width: 767px) {
  .parallax__layer--back{
    height: 750px;
  }
  #featuredEventContainer{
    display: none;
  }
  #eventCalendarContainer{
    display: none;
  }
  #adContainer{
    display: none;
  }
  #dj-podcast-backdrop{
    display: none;
  }
  .dj-section{
    display: none;
  }
  .podcast-section{
    display: none;
  }
  .breakerDiv{
    display: none;
  }
}
@media screen and (max-width: 583px) {
  .parallax__layer--back{
    height: 1000px;
  }
}

@media screen and (max-width: 485px) {
  .app .custom-navbar{
    height: 255px;
  }
  .app .site-content{
    margin-top: 255px;
  }
   .parallax__layer--back{
    height: 1050px;
  }

}

/*@media screen and (min-width: 1221px) {
  .dropdown {
    display: none;
  }
}*/


@media screen and (max-width: 451px) {
  /*.app .custom-navbar ul {
    display: none;
  }*/
  #navbarLogo{
    display: block;
    margin: auto;
    align-items: center;
    float: none;
  }
  .topbar{
    align-items: center;
  }
  #radioPlayer{
    width: 100%;
    margin: 0px;
    border-radius: 0px;
    /*display: none;*/
    position: absolute;
    top: 160px;
  }
  .app .custom-navbar ul li a {
  display: block;
  padding: 0 6px;
  text-decoration: none;
  color: gold;
  font-size: 6px;
}
  #featuredEventContainer{
    display: none;
  }
  #eventCalendarContainer{
    display: none;
  }
  #adContainer{
    display: none;
  }
  #dj-podcast-backdrop{
    display: none;
  }
  .dj-section{
    display: none;
  }
  .podcast-section{
    display: none;
  }
  .breakerDiv{
    display: none;
  }
  .aboutBackground{
    margin-top: -50px;
  }
  .podcast-page-overlay{
    opacity:1;
  }
  #homeLink{
  /*display: inline;*/
  display: none;
  }
  .articleTitleImage{
    background: contain;
  }
  .parallax__layer--back{
    height: 900px;
  }
}
}

.fc-time{
  display: none;
}
.fc-title{
  padding: 0 1px;
  white-space: pre-wrap;
}