
/*===================== parallax ====================*/

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 200px;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
          
  /*background-image: url('./assets/greenbackgroundnologo.jpg');*/
  
  background-image: url('/assets/sonic-wave-459858_960_720.jpg');
  /*background-image: url('');*/
  
  background-repeat: repeat-y;
  background-size: cover;
  /*background-repeat: no-repeat;*/
  height: 1760px;
  width: 100%;
  margin-top: 200px
}
.contactUsParallaxBack{
   transform: translateZ(-1px) scale(2);
          
  /*background-image: url('./assets/greenbackgroundnologo.jpg');*/
  
  background-image: url('/assets/sonic-wave-459858_960_720.jpg');
  /*background-image: url('');*/
  
  background-repeat: repeat-y;
  background-size: cover;
  /*background-repeat: no-repeat;*/
  height: 600px;
  width: 100%;
  margin-top: 200px
}
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
-----------------------------------------------------------*/

.app {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: right 0.2s linear;
  transition: right 0.2s linear;
}

.app .custom-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  /*background-color: #222222;*/
  background-color: black;
  text-align: right;
  /*z-index: 99999;*/
  z-index: 2;
}

#navbarTopDiv{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 167px;
}
.mininavbar {
  position: absolute;
  top: 167px;
  left: 0;
  width: 100%;
  height: 33px;
 
}

#linkList{
  /*margin-top: 20px;*/
 height: 33px;
 z-index:2;
}

.app .custom-navbar ul {
  /*list-style-type: none;*/
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}

.app .custom-navbar ul li {
  display: inline-block;
  height: 33px;
  line-height: 33px;
  vertical-align: middle;
  color: white;
  text-align: center;
}

.app .custom-navbar ul li a {
  display: block;
  padding: 0 10px;
  text-decoration: none;
  color: white;
  font-size: 10px;
}

.app .custom-navbar .hamburger {
  /*display: none;*/
  position: absolute;
  top: 0;
  right: 0;
  /*width: 50px;*/
  /*height: 50px;*/
  color: white;
  font-size: 3em;
}

.app .site-content {
  margin-top: 200px;
  /*padding-top: 3em;*/
  height: 100%;
  /*min-height: 100vh;*/
  /*overflow-x: hidden;*/
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background:black;
}

.topbar {
  height: 150px;
  width: auto;
  padding: 5px;
  z-index: 9991;
  transform: rotate(-15deg);

}

#navbarLogo{
  margin-top: 25px;
  margin-left: 25px;
  float: left;
  /*padding: 3px;*/
}

#radioPlayer{
  width: 360px;
  height: 95px;
  position: fixed;
  right: 0;
  margin-top: 50px;
  margin-right: 25px;
  /*border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;*/
   border-top: 1px solid rgba(240,240,240,0.8);
  border-right: 1px solid rgba(240,240,240,0.8);
  border-bottom: 1px solid rgba(240,240,240,0.8);
  border-left: 1px solid rgba(240,240,240,0.8);
  border-radius: 10px;
  
  
}
#tuner .bottom{
  display: none;
}
#homeLink{
  display: none;
}



body {
  /*background-image: url('./assets/greenbackgroundnologo.jpg');*/
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  background-position: center ;
  background-attachment: fixed;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1em;
}



.mininavbaradmin {
  top: 200px;
  text-align: center;
  font-size: 12px;
  position: fixed;
  z-index: 99999;
  background-color: black;
  width: 100%;
}

a:focus,
a:hover {
  color: white;
  text-decoration: none;
}

ul li {
  display: inline-block;
}

/*ul li:not(:last-child):after {
  content: "|";
  color: lightgray;
  position: relative;
  top: -4em;
}*/

/*ol,
ul {
  margin-top: 8px;
  margin-bottom: 3px;
}*/

.dlist {
  float: left;
}


/*
===================== RESPONSIVE ===============*/

@media screen and (max-width: 1340px) {
  .parallax__layer--back{
    height: 1700px;
  }
  .aboutBackground{
    height: 600px;
  }
}

@media screen and (max-width: 1220px) {
 .followus {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 161px;
    color: black;
    text-align: center;
    padding: 2px;
    margin-bottom: 11em;
 
}
 .aboutBackground{
    height: 600px;
  }


@media screen and (max-width: 1199px) {
  .parallax__layer--back{
    height: 1850px;
  }
}
@media screen and (max-width: 991px) {
  .parallax__layer--back{
    height: 2000px;
  }
}
@media screen and (max-width: 855px) {
  /*.dropdown {
    display: none;
  }*/
  .parallax__layer--back{
    height: 2000px;
  }
}
@media screen and (max-width: 780px) {
  .parallax__layer--back{
    height: 2200px;
  }
   .aboutBackground{
    height: 950px;
  }
 #calendar{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 12px;
 }
}
@media screen and (max-width: 767px) {
  .parallax__layer--back{
    height: 1150px;
  }
  #featuredEventContainer{
    display: none;
  }
  #eventCalendarContainer{
    display: block;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
  }
  #adContainer{
    display: none;
  }
  #dj-podcast-backdrop{
    display: none;
  }
  .dj-section{
    display: none;
  }
  .podcast-section{
    display: none;
  }
  .breakerDiv{
    display: none;
  }
  .followus {
    margin-top: 20px;
  }
   .aboutBackground{
    height: 950px;
  }
  /*#linkList{
    margin-top: 30px;
  }*/
}
@media screen and (max-width: 583px) {
  .parallax__layer--back{
    height: 1300px;
  }
   .aboutBackground{
    height: 1170px;
  }
   #calendar{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 10px;
 }
  #eventCalendarContainer{
    display: block;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media screen and (max-width: 578px) {
   #radioPlayer{
     margin-top: 10px;
    width: 100%;
    margin: 0px;
    border-radius: 0px;
    /*display: none;*/
    position: absolute;
    top: 200px;
  }
  .app .site-content {
    margin-top: 250px;
  }
  #navbarLogo{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    float: none;
  }
  .topbar {
  height: 150px;
  width: auto;
  padding: 5px;
  z-index: 9991;
  transform: rotate(0deg);

}
 .aboutBackground{
    height: 1175px;
  }
    #eventCalendarContainer{
    display: block;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (max-width: 485px) {
  .app .custom-navbar{
    height: 255px;
  }
  .app .site-content{
    margin-top: 255px;
  }
   .parallax__layer--back{
    height: 1050px;
  }
  .aboutBackground{
    height: 1175px;
  }


}

/*@media screen and (min-width: 1221px) {
  .dropdown {
    display: none;
  }
}*/


@media screen and (max-width: 451px) {
  /*.app .custom-navbar ul {
    display: none;
  }*/
  #navbarLogo{
    display: block;
    margin: auto;
    align-items: center;
    float: none;
  }
  .topbar{
    align-items: center;
  }
  #radioPlayer{
    width: 100%;
    margin: 0px;
    border-radius: 0px;
    /*display: none;*/
    position: absolute;
    top: 200px;
  }
  .app .custom-navbar ul li a {
  display: block;
  padding: 0 6px;
  text-decoration: none;
  color: white;
  font-size: 6px;
}
  #featuredEventContainer{
    display: none;
  }
  #eventCalendarContainer{
    display: block;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
  }
  #adContainer{
    display: none;
  }
  #dj-podcast-backdrop{
    display: none;
  }
  .dj-section{
    display: none;
  }
  .podcast-section{
    display: none;
  }
  .breakerDiv{
    display: none;
  }
  .aboutBackground{
    margin-top: -50px;
    height: 1175px;
  }
  .podcast-page-overlay{
    opacity:1;
  }
  #homeLink{
  /*display: inline;*/
  display: none;
  }
  .articleTitleImage{
    background: contain;
  }
  .parallax__layer--back{
    height: 1500px;
  }
}
}

@media screen and (max-width: 443px) {
   .parallax__layer--back{
    height: 1583px;
  }
   #eventCalendarContainer{
    display: block;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
  }
  /*#scheduleBox{
    height: 00px;
  }*/
  .aboutBackground{
    height: 1425px;
  }
}
