.custom-drawer {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 190px;
  background-color: grey;
}

.custom-drawer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.custom-drawer ul li {
  width: 100%;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
}

.custom-drawer ul li a {
  text-decoration: none;
  color: inherit;
}

.app {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  -webkit-transition: right 0.2s linear;
  transition: right 0.2s linear;
}

.app .custom-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 101px;
  background-color: black;
  text-align: right;
  z-index: 999;
}

body {
  background-image: url('./asssets/')
}

.app .custom-navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.app .custom-navbar ul li {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  color: white;
}

.app .custom-navbar ul li a {
  display: block;
  padding: 0 10px;
  text-decoration: none;
  color: inherit;
  font-size: 10px;
}

.app .custom-navbar .hamburger {
  /*display: none;*/
  position: absolute;
  top: 0;
  right: 0;
  /*width: 50px;*/
  /*height: 50px;*/
  color: white;
  font-size: 3em;
}

.app .site-content {
  padding-top: 3em;
  /*height: 100%;*/
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.topbar {
  height: 100px;
  width: 116px;
  padding: 5px;
  z-index: 9991;
}

@media screen and (max-width: 1000px) {
  .custom-drawer {
    display: block;
    margin-top: 5em;
  }
  .app.showing-drawer {
    right: 190px;
    -webkit-box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.7);
    box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.7);
  }
  .app .custom-navbar ul {
    display: none;
  }
  .app .custom-navbar .hamburger {
    display: block;
  }
}

@media screen and (min-width: 1001px) {
  .glyphicon-menu-hamburger:before {
    display: none;
  }
}

body {
  background-image: url('./assets/greenlogo.jpg');
  background-repeat: no-repeat;
  background-repeat: cover;
  background-position-x: center;
  color: black;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1em;
}

.mininavbar {
  background-image: url('./assets/background3.jpg');
  background-position-x: center;
background-size: cover;
background-repeat: no-repeat;
  margin-top: 101px;
  text-align: center;
  font-size: 12px;
  position: fixed;
  z-index: 9;
  /*background-color: black;*/
  width: 100%;
}

a:focus,
a:hover {
  color: gold;
  text-decoration: none;
}

ul li {
  display: inline-block;
}

ul li:not(:last-child):after {
  content: "|";
  color: lightgray;
}

ol,
ul {
  margin-top: 8px;
  margin-bottom: 10px;
}