<div class="custom-navbar">
    <iframe  src="http://tunein.com/embed/player/s190804/" style="width:300px;height:95px;position:fixed;left:0; "
            scrolling="no" frameborder="no"></iframe>
    <img class="topbar" src="./assets/logo.png" alt="">
     
    <!--<ul>
        <li><a href="/">Home</a></li>
        <li><a href="/events">Calendar</a></li>
        <li><a href="/magazine">Magazine</a></li>
        <li><a href="/podcasts">Podcasts</a></li>
        <li><a target="_blank" href="http://yellowhammer-creative.myshopify.com/">Store</a></li>
    </ul>-->
    <!--<div class="hamburger" ng-click="toggleDrawer()">-->
        <!--<span class="glyphicon glyphicon-menu-hamburger hamburger" id="sidenav" aria-hidden="true" ng-click="toggleDrawer()"></span>-->
<!--</div>-->
</div>