<div class="custom-navbar">
    <div id="navbarTopDiv">
        <iframe id="radioPlayer" src="http://tunein.com/embed/player/s190804/?scheme=5D605B&background=dark" scrolling="no"
            frameborder="no"></iframe>
        <a class="hvr-grow" href="/">
            <img id="navbarLogo" class="topbar hvr-grow" src="./assets/logo.png" alt="">
        </a>
    </div>
    <div class="mininavbar row">
        <ul id="linkList" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <li id="homeLink"><a  href="/">Home</a></li><span style="color:gray;" id="homeLink"></span>
            <li><a class="navLinks hvr-grow" href="/events">Calendar</a></li><span style="color:gray;"></span>
            <li><a class="navLinks hvr-grow" href="/magazine">Magazine</a></li><span style="color:gray;"></span>
            <li><a class="navLinks hvr-grow" href="/podcasts">Podcasts</a></li><span style="color:gray;"></span>
            <li><a class="navLinks hvr-grow" target="_blank" href="http://yellowhammer-creative.myshopify.com/">Store</a></li>
        </ul>
    </div>
</div>
