 <div class="magBackground">
    <div class="container subNavBar" id="top-container">
        
        <!--<p class="navbar-text navbar-right"> <a href="/users" class="navbar-link">Users</a></p>
        <p class="navbar-text navbar-right"> <a href="/magazine" class="navbar-link" >Articles</a></p>
        <p class="navbar-text navbar-right" ng-show="loggedIn"><a class="navbar-link" ng-click="logout()">logout</a></p>
        <p id="signedInAs" class="navbar-text navbar-right" ng-show="loggedIn">Signed in as <a class="navbar-link"></a>{{ ME.firstname }} {{ ME.lastname }}</p>-->
    </div>
        
    <div class="page-header">
        <h1 class="magPageTitleHeader1">Substrate Magazine</h1>
    </div>

    <div class="container" id="post-container">  
        <div class="list-group" >
                <div class="list-group-item" id="singleArticleTitleBox">
                    <h1 id="titleline">  {{ post.title }} </h1>
                    <h4 id="byline"> by {{ post.firstName }} {{ post.lastName }} </h4>
                </div>
                <markdown-renderer text="post.content" id="postDiv" class="list-group-item"></markdown-renderer>
                <!--<button id ="editButton" class="btn btn-default" type="button" ng-show="ifAdmin" ng-click="goToUpdate()">Edit/Update</button>  -->
        </div>
    </div>
</div>