<div class="magBackground">
    <div class="container" id="top-container">
        <p class="navbar-text navbar-right"><a class="navbar-link" ng-click="logout()">logout</a></p>
        <p class="navbar-text navbar-right"> <a href="/userprofile" class="navbar-link">My Profile</a></p>
    </div>
    <div id="composeFeaturedEvent">
        <a href="/admin">
            <button id="button">GO BACK</button>
        </a>
        <button ng-click="submitFeaturedEvent()">SAVE FEATURED EVENT</button>
        <br><br>
        <input type="text" ng-model="eventName" placeholder="Event Name">
        <br><br>
        <input type="text" ng-model="eventDate" placeholder="Event Date">
        <br><br>
        <input type="text" ng-model="imageurl" placeholder="Image URL">
        <br><br>
        <textarea rows="15" ng-model="eventDescription" placeholder="Event Description"></textarea>
        <br><br>
    </div>
    <div id="composeFeaturedEventPreview">
        <h3>PREVIEW</h3><br><br>
        <div id="previewBox" ng-style="{'background-image':'url(' + imageurl + ')'}"></div>
    </div>
</div>