
<br />
<div class="inner contact">
    <div class="contact-form">
        <form id="contact-us" ng-submit="sendMessage()">
            <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                <!--<input type="text" name="name" id="name" required="required" class="form" placeholder="Name" ng-model="name"/>-->
                <input type="email" name="mail" id="mail" required="required" class="form" placeholder="Email"  ng-model="fromEmail"/>
                <input type="text" name="subject" id="subject" required="required" class="form" placeholder="Subject" ng-model="subject"/>
            </div>
            <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
                <textarea name="message" id="message" class="form textarea" required="required" placeholder="Message" ng-model="content"></textarea>
            </div>
            <div class="relative fullwidth col-xs-12">
                <button type="submit" id="submit" name="submit" class="form-btn semibold">Send Message</button>
            </div>
            <div class="clear"></div>
        </form>
        <div class="mail-message-area">
            <div class="alert gray-bg mail-message not-visible-message">
                <strong>Thank You !</strong> Your email has been delivered.
            </div>
        </div>
    </div>
</div>

<div class="modal modal-transparent fade" id="modal-transparent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Contact Information</h4>
      </div>
      <div class="modal-body">
        <center>
                <input type="email" name="mail" id="contactemail" required="required" class="form" placeholder="Email"  ng-model="fromEmail"/><br>
                <input type="text" name="subject" id="contactsubject" required="required" class="form" placeholder="Subject" ng-model="subject"/><br>
                <textarea name="message" id="contactmessage" class="form textarea" required="required" placeholder="Message" ng-model="content"></textarea>

        </center>
        
      </div>
      <div class="modal-footer">
                <button type="submit" id="submit" name="submit" class="form-btn semibold">Send Message</button>
      </div>
    </div>
  </div>
</div>

<script>
    // .modal-backdrop classes

$(".modal-transparent").on('show.bs.modal', function () {
  setTimeout( function() {
    $(".modal-backdrop").addClass("modal-backdrop-transparent");
  }, 0);
});
$(".modal-transparent").on('hidden.bs.modal', function () {
  $(".modal-backdrop").addClass("modal-backdrop-transparent");
});

</script>