
<div class="magBackground">
      <div class="container" id="editArticleContainer">
            <div class="form-group">
                  <br>
                  <label for="postPublish">Publish? </label>
                  <select name="postPublish" ng-model="post.publish">
                        <option ng-repeat="publishValue in publishValues" value="{{ publishValue.value }}">{{ publishValue.name }}</option>
                  </select>
                  <br>
                  <input type="text" id='editTitleBox' class="form-control" ng-model="post.title" placeholder="article title goes here...">
                  <br>
                  <textarea class="form-control" rows="15" id="editContentBox" ng-model="post.content" placeholder="article content goes here..."></textarea>
                  <br>
                  <input type="text" id='editArticleImageUrlBox' class="form-control" ng-model="post.imageurl" placeholder="image url goes here...">
            </div>
            <button id='cancelUpdateButton' class="btn btn-default" type="button" ng-click="cancelupdate()">Go Back</button>
            <button id='updateButton' class="btn btn-default" type="button" ng-click="update()">Update!</button>
            <button id='deleteButton' class="btn btn-default" type="button" ng-click="promptDelete()">Delete</button>
      </div>
      <br>
      <h3 class="magPageSubtitle">PREVIEW</h3>
      <div id="previewArticleImage" ng-style="{'background-image':'url(' + post.imageurl + ')'}"></div>
      <br><br><br>
      <div class="container" id="preview-container">
            <div class="list-group" id="list-content">
                  <div class="list-group-item">
                        <h1 id="titleline"> {{ previewPost.title }} </h1>
                        <h3 id="byline"> by {{ previewPost.firstName }} {{ previewPost.lastName }} </h3>
                        <h5 id="pubDate"> created: {{ previewPost.createdat | date: 'short' }}</h5>
                  </div>
                  <markdown-renderer text="previewPost.content" id="previewPostDiv" class="list-group-item"></markdown-renderer>
            </div>
      </div>
</div>