

 <div class="container" id="top-container">
   
      <input type="text" id = 'editTitleBox' class="form-control" ng-model="post.title">
</div>

<div class="container" id="bottom-container">
   
    <div class="form-group">
     <textarea class="form-control" rows="15" id="editContentBox" ng-model="post.content"></textarea>
    </div>
       
          <button id = 'updateButton' class="btn btn-default" type="button" ng-click="update()">Update!</button>
          <button id = 'deleteButton' class="btn btn-default" type="button" ng-click="promptDelete()">Delete</button>   
          <button id = 'cancelUpdateButton' class="btn btn-default" type="button" ng-click="cancelupdate()">Go Back</button>
       
 </div>