<!--//---------------------------------------------//-->
<!--//===============  side calendar/events/ads =================//-->
<!--<div class="container mininavbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/events">Calendar</a></li>
        <li><a href="/magazine">Magazine</a></li>
        <li><a href="/podcasts">Podcasts</a></li>
        <li><a target="_blank" href="http://yellowhammer-creative.myshopify.com/">Store</a></li>
    </ul>
</div>-->
<div class="container-fluid middlesection">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-10 col-xs-offset-1"  id="eventCalendarContainer">
            <div class="weekDate" ng-repeat="day in calendar">
                <div class="week-date-header">
                    <h4 class="week-date-time">{{ day[0].start.dateTime | date: 'shortDate' }}</h4>
                </div>
                <div ng-repeat="event in day">
                    <div class="week-date-information">
                        <p class="week-date-title">{{ event.summary }}</p>
                        <p class="week-date-text">{{ event.location }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1" id="featuredEventContainer">
            <carousel interval="eventInterval">
                <slide ng-repeat="eventSlide in eventSlides" active="eventSlide.active">
                    <div ng-style="{ 'background-image': 'url(' + eventSlide.image + ')' }" class="featuredEventBackground">
                        <div class="carousel-caption">
                        </div>
                    </div>
                </slide>
            </carousel>
        </div>
        <div class="col-lg-2 col-lg-offset-0 col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-10 col-xs-offset-1" id="adContainer">
            <div class="row">
            <carousel id="carousel1" interval="adInterval" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                <slide class="adSlides" ng-repeat="adSlide in adSlides" active="adSlide.active">
                    <div id="ad1" ng-style="{ 'background-image': 'url(' + adSlide.image + ')' }" class="featuredAdBackground">
                        <div class="carousel-caption">
                        </div>
                    </div>
                </slide>
            </carousel>
            <br>
            <carousel id="carousel2" interval="adInterval" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                <slide class="adSlides" ng-repeat="adSlide2 in adSlides2" active="adSlide2.active">
                    <div id="ad2" ng-style="{ 'background-image': 'url(' + adSlide2.image + ')' }" class="featuredAdBackground ">
                        <div class="carousel-caption">
                        </div>
                    </div>
                </slide>
            </carousel>
            </div>
        </div>
    </div>
</div>
<!--//---------------------------------------------//-->
<br></br>
<!--//===============  ABOUT SECTION =================//-->
<div class="aboutBackground back">
    <!--<img src="./assets/aboutBackground.jpg" alt="">-->
    <div class="row">
        <div class="col-md-4" id="mission-statement">
            <p id="abouttext">
                {{missionStatement}}
            </p>
        </div>
        <div class="container col-md-8 " id="scheduleBox">
            <h1 style="text-align: center; justify-content: center;">SCHEDULE</h1>
            <div class="block" ng-model="sunday"><strong>S</strong>unday
                <br>{{sunday.showOne}} {{sunday.showOneDjs}} {{sunday.showOneTime}}
                <br>{{sunday.showTwo}} {{sunday.showTwoDjs}} {{sunday.showTwoTime}}
                <br>{{sunday.showThree}} {{sunday.showThreeDjs}} {{sunday.showThreeTime}}
            </div>
            <div class="block" ng-model="monday"><strong>M</strong>onday
                <br>{{monday.showOne}} {{monday.showOneDjs}} {{monday.showOneTime}}
                {{monday.showTwo}} {{monday.showTwoDjs}} {{monday.showTwoTime}}
                {{monday.showThree}} {{monday.showThreeDjs}} {{monday.showThreeTime}}
            </div>
            <div class="block" ng-model="tuesday"><strong>T</strong>uesday
                <br>{{tuesday.showOne}} {{tuesday.showOneDjs}} {{tuesday.showOneTime}}
                {{tuesday.showTwo}} {{tuesday.showTwoDjs}} {{tuesday.showTwoTime}}
                {{tuesday.showThree}} {{tuesday.showThreeDjs}} {{tuesday.showThreeTime}}
            </div>
            <div class="block" ng-model="wednesday"><strong>W</strong>ednesday
                <br>{{wednesday.showOne}} {{wednesday.showOneDjs}} {{wednesday.showOneTime}}
                {{wednesday.showTwo}} {{wednesday.showTwoDjs}} {{wednesday.showTwoTime}}
                {{wednesday.showThree}} {{wednesday.showThreeDjs}} {{wednesday.showThreeTime}}
            </div>
            <div class="block" ng-model="thursday"><strong>T</strong>hursday
                <br>{{thursday.showOne}} {{thursday.showOneDjs}} {{thursday.showOneTime}}
                {{thursday.showTwo}} {{thursday.showTwoDjs}} {{thursday.showTwoTime}}
                {{thursday.showThree}} {{thursday.showThreeDjs}} {{thursday.showThreeTime}}
            </div>
            <div class="block" ng-model="friday"><strong>F</strong>riday
                <br>{{friday.showOne}} {{friday.showOneDjs}} {{friday.showOneTime}}
                {{friday.showTwo}} {{friday.showTwoDjs}} {{friday.showTwoTime}}
                {{friday.showThree}} {{friday.showThreeDjs}} {{friday.showThreeTime}}
            </div>
            <div class="block" ng-model="saturday"><strong>S</strong>aturday
                <br>{{saturday.showOne}} {{saturday.showOneDjs}} {{saturday.showOneTime}}
                {{saturday.showTwo}} {{saturday.showTwoDjs}} {{saturday.showTwoTime}}
                {{saturday.showThree}} {{saturday.showThreeDjs}} {{saturday.showThreeTime}}
            </div>
        </div>
    </div>
</div>
<!--<p id="wearesubstrate">WE ARE SUBSTRATE</p>-->
</div>
<div class="djsection-row">
    <div class="col-xs-12 djsection">
        <!--<div class="djsection">-->
        <div id="djbox">
            <div ng-repeat="dj in dj">
                <div id="box" ng-style="{'background-image':'url(' + dj.imageurl + ')'}">
                    <div id="overlay">
                        <span id="plus">
                            <h1>{{dj.firstname}}</h1>
                            <p id="bio">{{dj.bio}}</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//---------------------------------------------//-->
<!--//===============  podcast SECTION =================//-->
<div style="background-image:url('./assets/background2.jpg');background-size:cover; background-repeat: no-repeat;" class="row">
    <div id="djbox">
        <div style="font-size: 2em; font-weight: bolder;color:white;"> Latest Podcasts
        </div>
        <div ng-repeat="podcast in podcasts" class="podcastRepeatDiv">
            <div class="podbackground" id="podcast-box" ng-style="{'background-image':'url(' + podcast.pictures.large + ')'}">
                <a target="_blank" href="{{podcast.url}}">
                    <div id="podcast-overlay">
                        <span id="podcasttext">
                        <p>{{podcast.name}}</p>
                    </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!--//---------------------------------------------//-->
<!--//===============  follow us SECTION =================//-->
<div class="followus">
    <ul>
        <h1 style="color:white;">FOLLOW US ON</h1>
        <li>
            <a target="_blank" href="https://www.facebook.com/SubstrateRadio/">
                <img src="./assets/facebook.png" class="facebook" alt="facebook"></a>
        </li>
        <li>
            <a target="_blank" href="https://www.instagram.com/substrateradio/">
                <img src="./assets/insta.png" class="insta facebook" alt="insta"></a>
        </li>
        <li>
            <a target="_blank" href="https://twitter.com/substrateradio?lang=en">
                <img src="./assets/twit.png" class="twit facebook" alt="twit"></a>
        </li>
        <li>
            <a target="_blank" href="https://www.mixcloud.com/substrateradio/">
                <img src="./assets/mix.png" class="mixcloud facebook" alt="mixcloud"></a>
        </li>
        <li>
            <a data-toggle="modal" data-target="#modal-transparent">
                <img src="./assets/contact.png" class="mixcloud facebook" alt="mixcloud"></a>
        </li>
    </ul>
</div>
<div class="modal modal-transparent fade" id="modal-transparent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <center>
                    <h4 class="modal-title" id="myModalLabel">Contact Information</h4>
                    <input type="email" name="mail" id="contactemail" required="required" class="form" placeholder="Email" ng-model="fromEmail"
                    /><br>
                    <input type="text" name="subject" id="contactsubject" required="required" class="form" placeholder="Subject" ng-model="subject"
                    /><br>
                    <textarea name="message" id="contactmessage" class="form textarea" required="required" placeholder="Message" ng-model="content"></textarea>
                </center>
            </div>
            <div class="modal-footer">
                <button type="submit" id="submit" name="submit" class="form-btn semibold">Send Message</button>
            </div>
        </div>
    </div>
</div>
<script>

$(".modal-transparent").on('show.bs.modal', function () {
  setTimeout( function() {
    $(".modal-backdrop").addClass("modal-backdrop-transparent");
  }, 0);
});
$(".modal-transparent").on('hidden.bs.modal', function () {
  $(".modal-backdrop").addClass("modal-backdrop-transparent");
});

</script>