<!--//---------------------------------------------//-->
<!--//===============  side calendar/events/ads =================//-->
<div class="container-fluid middlesection">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-10 col-xs-offset-1" id="eventCalendarContainer">
            <div class="weekDate" ng-repeat="day in calendar">
                <div class="week-date-header">
                    <h4 class="week-date-time">{{ day[0].start.dateTime | date: 'shortDate' }}</h4>
                </div>
                <div ng-repeat="event in day">
                    <div class="week-date-information">
                        <p class="week-date-title">{{ event.summary }}</p>
                        <p class="week-date-text">{{ event.location }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1" id="featuredEventContainer">
            <carousel interval="eventInterval">
                <slide ng-repeat="eventSlide in eventSlides" active="eventSlide.active">
                    <div ng-style="{ 'background-image': 'url(' + eventSlide.image + ')' }" class="featuredEventBackground">
                        <div class="carousel-caption">
                        </div>
                    </div>
                </slide>
            </carousel>
        </div>
        <div class="col-lg-2 col-lg-offset-0 col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-10 col-xs-offset-1" id="adContainer">
            <div class="row">
                <carousel id="carousel1" interval="adInterval" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                    <slide class="adSlides" ng-repeat="adSlide in adSlides" active="adSlide.active">
                        <a target="_blank" ng-href="http://{{adSlide.link}}">
                            <div id="ad1" ng-style="{ 'background-image': 'url(' + adSlide.image + ')' }" class="featuredAdBackground">
                                <div class="carousel-caption">
                                </div>
                            </div>
                        </a>
                    </slide>
                </carousel>
                <br>
                <carousel id="carousel2" interval="adInterval" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                    <slide class="adSlides" ng-repeat="adSlide2 in adSlides2" active="adSlide2.active">
                        <a target="_blank" ng-href="http://{{adSlide2.link}}">
                            <div id="ad2" ng-style="{ 'background-image': 'url(' + adSlide2.image + ')' }" class="featuredAdBackground ">
                                <div class="carousel-caption">
                                </div>
                            </div>
                        </a>
                    </slide>
                </carousel>
            </div>
        </div>
    </div>
</div>
<!--//---------------------------------------------//-->
<br><br>
<!--//===============  ABOUT SECTION =================//-->
<div class="aboutBackground back">
    <!--<img src="./assets/aboutBackground.jpg" alt="">-->
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" id="mission-statement">
            <p id="abouttext">
                {{missionStatement}}
            </p>
        </div>
        <div class="container col-lg-9 col-md-9 col-sm-9 col-xs-12 " id="scheduleBox">
            <h1 style="text-align: center; justify-content: center;">SCHEDULE</h1>
            <div class="block" ng-model="sunday">
                <div class="dayHeader"><strong>S</strong>unday</div>
                <div id="show1Box">
                    {{sunday.showOne}}<br>{{sunday.showOneTime}}
                    <br><br>
                    <!--<div id="show1Overlay">{{sunday.showOneDjs}}</div>-->
                </div>
                <div id="show2Box">{{sunday.showTwo}} <br>{{sunday.showTwoTime}}
                    <br><br>
                    <!--<div id="show2Overlay">{{sunday.showTwoDjs}}</div>-->
                </div>
                <div id="show3Box">{{sunday.showThree}}<br>{{sunday.showThreeTime}}
                    <!--<div id="show3Overlay">{{sunday.showThreeDjs}}</div>-->
                </div>
            </div>

            <div class="block" ng-model="monday">
                <div class="dayHeader"><strong>M</strong>onday</div>
                <div id="show1Box">
                    {{monday.showOne}}<br>{{monday.showOneTime}}
                    <br><br>
                    <!--<div id="show1Overlay">{{monday.showOneDjs}}</div>-->
                </div>
                <div id="show2Box">{{monday.showTwo}} <br>{{monday.showTwoTime}}
                    <br><br>
                    <!--<div id="show2Overlay">{{monday.showTwoDjs}}</div>-->
                </div>
                <div id="show3Box">{{monday.showThree}}<br>{{monday.showThreeTime}}
                    <!--<div id="show3Overlay">{{monday.showThreeDjs}}</div>-->
                </div>
            </div>
            <div class="block" ng-model="tuesday">
                <div class="dayHeader"><strong>T</strong>uesday</div>
                <div id="show1Box">
                    {{tuesday.showOne}}<br>{{tuesday.showOneTime}}
                    <br><br>
                    <!--<div id="show1Overlay">{{tuesday.showOneDjs}}</div>-->
                </div>
                <div id="show2Box">{{tuesday.showTwo}} <br>{{tuesday.showTwoTime}}
                    <br><br>
                    <!--<div id="show2Overlay">{{tuesday.showTwoDjs}}</div>-->
                </div>
                <div id="show3Box">{{tuesday.showThree}}<br>{{tuesday.showThreeTime}}
                    <!--<div id="show3Overlay">{{tuesday.showThreeDjs}}</div>-->
                </div>
            </div>
            <div class="block" ng-model="wednesday">
                <div class="dayHeader"><strong>W</strong>ednesday</div>
                <div id="show1Box">
                    {{wednesday.showOne}}<br>{{wednesday.showOneTime}}
                    <br><br>
                    <!--<div id="show1Overlay">{{wednesday.showOneDjs}}</div>-->
                </div>
                <div id="show2Box">{{wednesday.showTwo}} <br>{{wednesday.showTwoTime}}
                    <br><br>
                    <!--<div id="show2Overlay">{{wednesday.showTwoDjs}}</div>-->
                </div>
                <div id="show3Box">{{wednesday.showThree}}<br>{{wednesday.showThreeTime}}
                    <!--<div id="show3Overlay">{{wednesday.showThreeDjs}}</div>-->
                </div>
            </div>
            <div class="block" ng-model="thursday">
                <div class="dayHeader"><strong>T</strong>hursday</div>
                <div id="show1Box">
                    {{thursday.showOne}}<br>{{thursday.showOneTime}}
                    <br><br>
                    <!--<div id="show1Overlay">{{thursday.showOneDjs}}</div>-->
                </div>
                <div id="show2Box">{{thursday.showTwo}} <br>{{thursday.showTwoTime}}
                    <br><br>
                    <!--<div id="show2Overlay">{{thursday.showTwoDjs}}</div>-->
                </div>
                <div id="show3Box">{{thursday.showThree}}<br>{{thursday.showThreeTime}}
                    <!--<div id="show3Overlay">{{thursday.showThreeDjs}}</div>-->
                </div>
            </div>
            <div class="block" ng-model="friday">
                <div class="dayHeader"><strong>F</strong>riday</div>
                <div id="show1Box">
                    {{friday.showOne}}<br>{{friday.showOneTime}}
                    <br><br>
                    <!--<div id="show1Overlay">{{friday.showOneDjs}}</div>-->
                </div>
                <div id="show2Box">{{friday.showTwo}} <br>{{friday.showTwoTime}}
                    <br><br>
                    <!--<div id="show2Overlay">{{friday.showTwoDjs}}</div>-->
                </div>
                <div id="show3Box">{{friday.showThree}}<br>{{friday.showThreeTime}}
                    <!--<div id="show3Overlay">{{friday.showThreeDjs}}</div>-->
                </div>
            </div>
            <div class="block" ng-model="saturday">
                <div class="dayHeader"><strong>S</strong>aturday</div>
                <div id="show1Box">
                    {{saturday.showOne}}<br>{{saturday.showOneTime}}
                    <br><br>
                    <!--<div id="show1Overlay">{{saturday.showOneDjs}}</div>-->
                </div>
                <div id="show2Box">{{saturday.showTwo}} <br>{{saturday.showTwoTime}}
                    <br><br>
                    <!--<div id="show2Overlay">{{saturday.showTwoDjs}}</div>-->
                </div>
                <div id="show3Box">{{saturday.showThree}}<br>{{saturday.showThreeTime}}
                    <!--<div id="show3Overlay">{{saturday.showThreeDjs}}</div>-->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="parallax">
  <div class="parallax__layer parallax__layer--back">
  </div>
  <div class="parallax__layer parallax__layer--base">
    <h1>Its a bizarre celebration</h1>
  </div>
</div>

<div id="dj-podcast-backdrop">
    <div class="dj-section">
        <br><br><br><br>
        <div class="breakerDiv">
            <h2 class="dj-section-title">We Are Substrate</h2>
        </div>
        <div class="container-fluid">
            <div class="dj-section-title">
                <!--<h3 class="dj-title">We Are Substrate</h3>-->
            </div>
            <div class="dj-container">
                <div class="row">
                    <div class="col-lg-3 col-lg-offset-0.25 col-md-3 col-md-offset-0.25 col-sm-4 col-sm-offset-0.25 col-xs-11 col-xs-offset-0.25"
                        ng-repeat="dj in djList">
                        <div class="dj-box" ng-style="{'background-image':'url(' + dj.imageurl + ')'}">
                            <div class="dj-box-overlay">
                                <h1>{{dj.firstname}} {{dj.lastname}}</h1>
                                <p class="dj-bio">{{dj.bio}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>



    <!--//---------------------------------------------//-->
    <!--//===============  podcast SECTION =================//-->
    <div class="breakerDiv">
        <h2 class="podcast-section-title">Latest Podcasts</h2>
    </div>
    <div class="podcast-section">
        <div class="container-fluid">
            <div id="podcast-section-title">

            </div>
            <div class="podcast-container">
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-0.25 col-md-6 col-md-offset-0.25 col-sm-6 col-sm-offset-0.25 col-xs-11 col-xs-offset-0.25"
                        ng-repeat="podcast in podcasts">
                        <div class="podcast-box" ng-style="{'background-image':'url(' + podcast.pictures.large + ')'}">
                            <a target="_blank" href="{{podcast.url}}">
                                <div class="podcast-overlay">
                                    <p>{{podcast.name}}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!--//---------------------------------------------//-->
<!--//===============  follow us SECTION =================//-->
<div class="followus">
    
    <ul>
        <h1 style="color:white;">FOLLOW US ON</h1>
        <li>
            <a target="_blank" href="https://www.facebook.com/SubstrateRadio/">
                <img src="./assets/facebook.png" class="facebook" alt="facebook"></a>
        </li>
        <li>
            <a target="_blank" href="https://www.instagram.com/substrateradio/">
                <img src="./assets/insta.png" class="insta facebook" alt="insta"></a>
        </li>
        <li>
            <a target="_blank" href="https://twitter.com/substrateradio?lang=en">
                <img src="./assets/twit.png" class="twit facebook" alt="twit"></a>
        </li>
        <li>
            <a target="_blank" href="https://www.mixcloud.com/substrateradio/">
                <img src="./assets/mix.png" class="mixcloud facebook" alt="mixcloud"></a>
        </li>
        <li>
            <a data-toggle="modal" data-target="#modal-transparent">
                <img src="./assets/contact.png" class="contact-modal facebook" alt="contact"></a>
        </li>
    </ul>
</div>
<div>
    <br>
    <br>
    <br><br>
</div>
<div class="modal modal-transparent fade" id="modal-transparent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <center>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                    <input type="email" name="mail" id="contactemail" required="required" class="form" placeholder="Your email" ng-model="fromEmail"
                    /><br>
                    <input type="text" name="subject" id="contactsubject" required="required" class="form" placeholder="Subject" ng-model="subject"
                    /><br>
                    <textarea name="message" id="contactmessage" class="form textarea" required="required" placeholder="Message" ng-model="content"></textarea>
                </center>
            </div>
            <div class="modal-footer">
                <button type="submit" id="submit" name="submit" class="form-btn semibold" ng-click="sendMessage()">Send Message</button>
            </div>
        </div>
    </div>
</div>
<script>

$(".modal-transparent").on('show.bs.modal', function () {
  setTimeout( function() {
    $(".modal-backdrop").addClass("modal-backdrop-transparent");
  }, 0);
});
$(".modal-transparent").on('hidden.bs.modal', function () {
  $(".modal-backdrop").addClass("modal-backdrop-transparent");
});

</script>