

<!--<div>
    <h1>About us</h1>
    <div >
        <div id="djbox" ng-repeat="dj in procUserDj">
            <h1>{{ dj.firstname}}</h1>
        </div>
    </div>
</div>-->




<div class="row">
    <div class="col-xs-10">
        <img src="./assets/logo.png" alt="">
    </div>
    <div class="col-xs-2">
        <a href="/contact">
            <img id="phone" src="./assets/phone.png" alt=""></a>
    </div>
</div>

<br><br>

<div class="container middlesection">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3" id="eventCalendarContainer">
           
              <iframe  class= "iframe-side-calendar col-lg-12 col-md-12 col-sm-12" src="https://calendar.google.com/calendar/embed?showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=substrateradio%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FChicago" style="border-width:0" width="267.33" height="300" frameborder="0" scrolling="no"></iframe>
          
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6" id="featuredEventContainer">
             <!--<p > {{ featuredEvents.eventName }} </p>-->
            
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3" id="adContainer">
             <!--<p > {{ ads.adName }} </p>-->
        </div>
    </div>
</div>


<br>
<div class="container">
<div class="col-xs-12 aboutBackground">
    <!--<img src="./assets/aboutBackground.jpg" alt="">-->
    <h1>This is About us page</h1>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>