<div class="podcast-page">
    <div class="container">
        <div id="djbox">
            <div ng-repeat="podcast in podcastList">
                <div class="podcast-page-box" ng-style="{'background-image':'url(' + podcast.pictures.large + ')'}">
                    <a target="_blank" href="{{podcast.url}}">
                        <div class="podcast-page-overlay">
                            <span id="podcasttext">
                        <p>{{podcast.name}}</p>
                    </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br> <br> <br> <br>
</div>