<button ng-click="updateWeeklySchedule()">UPDATE WEEKLY SCHEDULE</button>
<br><br><br>
<div class="weekday">
    <h4>Sunday</h4>
    <br><input type="text" class="form-control weeklySchedule" ng-model="sunday.showOne" placeholder="Show One">
    <br><input type="text" class="form-control weeklySchedule" ng-model="sunday.showOneDjs" placeholder="Show One DJs">
    <br><input type="text" class="form-control weeklySchedule" ng-model="sunday.showOneTime" placeholder="Show One Time">
    <br><input type="text" class="form-control weeklySchedule" ng-model="sunday.showTwo" placeholder="Show Two">
    <br><input type="text" class="form-control weeklySchedule" ng-model="sunday.showTwoDjs" placeholder="Show Two DJs">
    <br><input type="text" class="form-control weeklySchedule" ng-model="sunday.showTwoTime" placeholder="Show Two Time">
    <br><input type="text" class="form-control weeklySchedule" ng-model="sunday.showThree" placeholder="Show Three">
    <br><input type="text" class="form-control weeklySchedule" ng-model="sunday.showThreeDjs" placeholder="Show Three DJs">
    <br><input type="text" class="form-control weeklySchedule" ng-model="sunday.showThreeTime" placeholder="Show Three Time">
</div>

<div class="weekday">
    <h4>Monday</h4>
    <br><input type="text" class="form-control weeklySchedule" ng-model="monday.showOne" placeholder="Show One">
    <br><input type="text" class="form-control weeklySchedule" ng-model="monday.showOneDjs" placeholder="Show One DJs">
    <br><input type="text" class="form-control weeklySchedule" ng-model="monday.showOneTime" placeholder="Show One Time">
    <br><input type="text" class="form-control weeklySchedule" ng-model="monday.showTwo" placeholder="Show Two">
    <br><input type="text" class="form-control weeklySchedule" ng-model="monday.showTwoDjs" placeholder="Show Two DJs">
    <br><input type="text" class="form-control weeklySchedule" ng-model="monday.showTwoTime" placeholder="Show Two Time">
    <br><input type="text" class="form-control weeklySchedule" ng-model="monday.showThree" placeholder="Show Three">
    <br><input type="text" class="form-control weeklySchedule" ng-model="monday.showThreeDjs" placeholder="Show Three DJs">
    <br><input type="text" class="form-control weeklySchedule" ng-model="monday.showThreeTime" placeholder="Show Three Time">
</div>

<div class="weekday">
    <h4>Tuesday</h4>
    <br><input type="text" class="form-control weeklySchedule" ng-model="tuesday.showOne" placeholder="Show One">
    <br><input type="text" class="form-control weeklySchedule" ng-model="tuesday.showOneDjs" placeholder="Show One DJs">
    <br><input type="text" class="form-control weeklySchedule" ng-model="tuesday.showOneTime" placeholder="Show One Time">
    <br><input type="text" class="form-control weeklySchedule" ng-model="tuesday.showTwo" placeholder="Show Two">
    <br><input type="text" class="form-control weeklySchedule" ng-model="tuesday.showTwoDjs" placeholder="Show Two DJs">
    <br><input type="text" class="form-control weeklySchedule" ng-model="tuesday.showTwoTime" placeholder="Show Two Time">
    <br><input type="text" class="form-control weeklySchedule" ng-model="tuesday.showThree" placeholder="Show Three">
    <br><input type="text" class="form-control weeklySchedule" ng-model="tuesday.showThreeDjs" placeholder="Show Three DJs">
    <br><input type="text" class="form-control weeklySchedule" ng-model="tuesday.showThreeTime" placeholder="Show Three Time">
</div>

<div class="weekday">
    <h4>Wednesday</h4>
    <br><input type="text" class="form-control weeklySchedule" ng-model="wednesday.showOne" placeholder="Show One">
    <br><input type="text" class="form-control weeklySchedule" ng-model="wednesday.showOneDjs" placeholder="Show One DJs">
    <br><input type="text" class="form-control weeklySchedule" ng-model="wednesday.showOneTime" placeholder="Show One Time">
    <br><input type="text" class="form-control weeklySchedule" ng-model="wednesday.showTwo" placeholder="Show Two">
    <br><input type="text" class="form-control weeklySchedule" ng-model="wednesday.showTwoDjs" placeholder="Show Two DJs">
    <br><input type="text" class="form-control weeklySchedule" ng-model="wednesday.showTwoTime" placeholder="Show Two Time">
    <br><input type="text" class="form-control weeklySchedule" ng-model="wednesday.showThree" placeholder="Show Three">
    <br><input type="text" class="form-control weeklySchedule" ng-model="wednesday.showThreeDjs" placeholder="Show Three DJs">
    <br><input type="text" class="form-control weeklySchedule" ng-model="wednesday.showThreeTime" placeholder="Show Three Time">
</div>

<div class="weekday">
    <h4>Thursday</h4>
    <br><input type="text" class="form-control weeklySchedule" ng-model="thursday.showOne" placeholder="Show One">
    <br><input type="text" class="form-control weeklySchedule" ng-model="thursday.showOneDjs" placeholder="Show One DJs">
    <br><input type="text" class="form-control weeklySchedule" ng-model="thursday.showOneTime" placeholder="Show One Time">
    <br><input type="text" class="form-control weeklySchedule" ng-model="thursday.showTwo" placeholder="Show Two">
    <br><input type="text" class="form-control weeklySchedule" ng-model="thursday.showTwoDjs" placeholder="Show Two DJs">
    <br><input type="text" class="form-control weeklySchedule" ng-model="thursday.showTwoTime" placeholder="Show Two Time">
    <br><input type="text" class="form-control weeklySchedule" ng-model="thursday.showThree" placeholder="Show Three">
    <br><input type="text" class="form-control weeklySchedule" ng-model="thursday.showThreeDjs" placeholder="Show Three DJs">
    <br><input type="text" class="form-control weeklySchedule" ng-model="thursday.showThreeTime" placeholder="Show Three Time">
</div>

<div class="weekday">
    <h4>Friday</h4>
    <br><input type="text" class="form-control weeklySchedule" ng-model="friday.showOne" placeholder="Show One">
    <br><input type="text" class="form-control weeklySchedule" ng-model="friday.showOneDjs" placeholder="Show One DJs">
    <br><input type="text" class="form-control weeklySchedule" ng-model="friday.showOneTime" placeholder="Show One Time">
    <br><input type="text" class="form-control weeklySchedule" ng-model="friday.showTwo" placeholder="Show Two">
    <br><input type="text" class="form-control weeklySchedule" ng-model="friday.showTwoDjs" placeholder="Show Two DJs">
    <br><input type="text" class="form-control weeklySchedule" ng-model="friday.showTwoTime" placeholder="Show Two Time">
    <br><input type="text" class="form-control weeklySchedule" ng-model="friday.showThree" placeholder="Show Three">
    <br><input type="text" class="form-control weeklySchedule" ng-model="friday.showThreeDjs" placeholder="Show Three DJs">
    <br><input type="text" class="form-control weeklySchedule" ng-model="friday.showThreeTime" placeholder="Show Three Time">
</div>

<div class="weekday">
    <h4>Saturday</h4>
    <br><input type="text" class="form-control weeklySchedule" ng-model="saturday.showOne" placeholder="Show One">
    <br><input type="text" class="form-control weeklySchedule" ng-model="saturday.showOneDjs" placeholder="Show One DJs">
    <br><input type="text" class="form-control weeklySchedule" ng-model="saturday.showOneTime" placeholder="Show One Time">
    <br><input type="text" class="form-control weeklySchedule" ng-model="saturday.showTwo" placeholder="Show Two">
    <br><input type="text" class="form-control weeklySchedule" ng-model="saturday.showTwoDjs" placeholder="Show Two DJs">
    <br><input type="text" class="form-control weeklySchedule" ng-model="saturday.showTwoTime" placeholder="Show Two Time">
    <br><input type="text" class="form-control weeklySchedule" ng-model="saturday.showThree" placeholder="Show Three">
    <br><input type="text" class="form-control weeklySchedule" ng-model="saturday.showThreeDjs" placeholder="Show Three DJs">
    <br><input type="text" class="form-control weeklySchedule" ng-model="saturday.showThreeTime" placeholder="Show Three Time">
</div>